.productSearch {
    padding: 12px 12px 0 12px;
    margin-left: 8px;
}

.productButton {
    margin-right: 16px;
}

.productIcon {
    margin-right: 10px;
}

.productTable {
    margin: 24px 12px 24px 12px;
    padding-right: 24px;
    width: 98%;
}

.productPagination {
    margin-top: 24px;
}

.productCol {
    border: 1px solid #ccc;
    text-align: justify;
}

.productTableIcon {
    width: 50%;
    font-size: 24px;
    opacity: 0.7;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}