.background {
    background-color: #4a5b6b;
}

.navBar {
    min-height: calc(100vh - 56px - 36px);
    padding: 0px;
}

.navBarSub {
    min-height: calc(100vh - 56px - 36px);
    padding: 0px;
    position: absolute;
    z-index: 99;
    width: 50%;
}

.btnCloseNav {
    position: absolute;
    left: 50%;
}

.title {
    padding: 12px 0 12px 28px;
    align-items: center;
    background-color: #3b4e57;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        .titleText, .icon {
            color: #fff;
        }
    }
}

.titleText {
    font-size: 18px;
    padding-left: 12px;
    color: #e4e4e4;
    margin-bottom: 0
}

.icon {
    font-size: 26px;
    color: #e4e4e4;
}

.li{
    padding-left: 30px;
    align-items: center;
    height: 36px;

    &:hover {
        cursor: pointer;
        .a, .iconLi {
            color: #fff;
        }
    }
}

.a {
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 8px;
    display: block;
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.menuBarsIcon {
    width: 40px;
    height: 40px;
    padding: 6px;
    background-color: #3b4e57;
    border: 1px solid #ccc;
    margin: 12px;
    border-radius: 3px;
    display: none;

    &:hover {
        cursor: pointer;
        .icon {
            color: #fff;
        }
    }
}

.menuBarsIconClose {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 6px;
    left: 50%;
    background-color: #3b4e57;
    border-bottom-right-radius: 3px;
    display: none;

    &:hover {
        cursor: pointer;
        .icon {
            color: #fff;
        }
    }
}

.iconLi {
    font-size: 14px;
    color: #e4e4e4;
    margin-right: 12px;
}

.active {
    background-color: #ffffff40;
}

@media (max-width: 1000px) {
    .navBar {
        display: none !important;
    }
    .menuBarsIcon {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .menuBarsIconClose {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}